* {
    margin: 0;
    padding: 0;
    
}
:root {
    
}
body {
    font-family:Arial;
    background-color: #000;
    text-align: center;
    color: #ffffff;
}
img {
    max-width: 10;
    height: auto;
    display: block;
    margin: 0 auto;
}
form {
    
}
